<!doctype html>
<html lang="en">
<head>
    <title>Создание участка</title>
</head>
<body>
<h1>Создание участка</h1>

{{ form_start(form) }}
{{ form_widget(form) }}

<input value="Сохранить" type="submit"/>
{{ form_end(form) }}




<div><a href="/">main</a></div>

</body>
</html>
