
    <div>
        <form action="/garden/delete" method="post">
            <button  class='nav-bar-item' id="delete" onclick="return confirm('Удалить участок?')">Удалить</button>
        </form>
    </div>
    <div>
        <a class="nav-bar-item" href="{{ path('app_logout') }}">Выйти</a>
    </div>
    <div>
        <a class="nav-bar-item" href="/garden">К участку</a>
    </div>
    <div>
        <a class="nav-bar-item" href="/planning">Планировать новые посадки</a>
    </div>
    <div>
        <a class="nav-bar-item" href="/todo">To-do лист</a>
    </div>
    <div>
        <a class="nav-bar-item" href="/history">Смотреть историю</a>
    </div>

